.dark-blue {
    background-color: #2042e3;
}

.dark-blue:disabled {
    background-color: #57575a;
    border: 0px;
}

.red {
    overflow-x: visible !important;

    overflow-y: visible !important;

    top: 100px;
}

.img-center {
    margin-left: 25px;
    position: relative;
    top: -100px;
    border-radius: 50px;
    margin-bottom: -150px;
    border: #2042e3 solid 3px;
}
